@model PghTechFest.Www.Models.Domain.Session

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Session</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LengthInMinutes, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.LengthInMinutes)
                @Html.ValidationMessageFor(model => model.LengthInMinutes)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Speaker_FirstName">Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Speaker.FirstName) @Html.EditorFor(model => model.Speaker.LastName)
                @Html.ValidationMessageFor(model => model.Speaker.FirstName) @Html.ValidationMessageFor(model => model.Speaker.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Speaker.EmailAddress, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Speaker.EmailAddress)
                @Html.ValidationMessageFor(model => model.Speaker.EmailAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Speaker.Bio, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Speaker.Bio)
                @Html.ValidationMessageFor(model => model.Speaker.Bio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Speaker.TwitterUserName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Speaker.TwitterUserName)
                @Html.ValidationMessageFor(model => model.Speaker.TwitterUserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Speaker.Comments, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Speaker.Comments)
                @Html.ValidationMessageFor(model => model.Speaker.Comments)
            </div>
        </div>

        <div class="form-group">
            <label for="Track">Categories</label>
            <div class="col-md-10">
                @foreach (var track in ViewBag.Tracks)
                {
                    <label class="checkbox">
                        @track.Name <input type="checkbox" name="Track" value="@track.Id"/>
                    </label>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
